<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
        <title>Quartz Management</title>
        <style type="text/css">
            body  
            {
                background: #1c1a1c; 
                color: #ffffff; 
                font-family: Verdana;
            }
            
            .jobGroupDiv
            {
                border: 3px solid #6e7d8d; 
            }
            
            .jobGroupTable  
            {
                background: #2c2b2c; 
                border: 3px solid #6e7d8d; 
                border-radius: 5px; 
                box-shadow: 2px 2px 1px #CCCCCC;  
                font-size: 11px;
            }
            
            .jobGroupTitle
            {
                text-align: left; 
                font-size: 13px; 
                border: 1px solid #812c06;
                border-radius: 5px;
                background-color: #812c06;
            }
            
            .odd  
            {
                background: #343234; 
                color: #ffffff; 
            }
            
            .jobTitle 
            {
                font-size: 12px;
            }
        </style>
        <script src="/Contents/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="/Contents/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
        <script src="/Contents/knockout-2.0.0.js" type="text/javascript"></script>
        <script src="/Contents/knockout.mapping-latest.js" type="text/javascript"></script>
</head>
<body>

	<div class="nativeJobs" data-bind="foreach: JobGroups" >
		  <h3 cclass="jobGroupTitle"><a href="#"> Job Group: <span data-bind="text: GroupName"></span></a></h3>
			<table border="0" cellspacing="0" cellpadding="5" cclass="jobGroupTable">
			  <th>
				<th>Job Name</th>
				<th>description</th>
				<th>Requests<br>Recovery</th>
				<th>Store<br>Durable</th>
				<th>Job Type</th>
				<th>Persist JobData<br>After Execution</th>
				<th>Concurrent<br>ExecutionAllowed</th>
				<th></th>
			  </th>
              <tbody data-bind="foreach: Jobs">
			  <tr>
				<td><span data-bind="text: JobName"></span></td>
				<td><span data-bind="text: Description"></span></td>
				<td><span data-bind="text: RequestsRecovery"></span></td>
				<td><span data-bind="text: StoreDurable"></span></td>
				<td><span data-bind="text: JobType"></span></td>
				<td><span data-bind="text: PersistJobDataAfterExecution"></span></td>
				<td><span data-bind="text: ConcurrentExecutionAllowed"></span></td>
				<td>
                <a data-bind='attr: { href: "/FireJob/" + JobGroup + "/" + JobName, text: JobGroup }'> </a>
			  </tr>
              </tbody>
			</table>
          </div>
    </div>

	<script type="text/javascript">
	    var viewModel;

	    //$(document).ready(function () { setInterval(reloadData, 2000); });
	    $(document).ready(loadData);

	    function loadData() {
	        $.getJSON("/JobData", function (data) { viewModel = ko.mapping.fromJS(data); ko.applyBindings(viewModel); });
	    }

        function reloadData() {
            //$.getJSON("/JobData", function (data) { ko.mapping.fromJS(data, viewModel); });
        }
	</script>	
</body>
</html>